/* Reset básico para eliminar márgenes y padding predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo general del body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  color: #333;
  padding: 20px;  
  overflow: hidden;
}
.Top-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
}

.scroll-container {
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

/* Centro el contenido */
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Ajustes de los productos */
.product-list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  max-width: 1200px;
}

/* Estilo para cada tarjeta de producto */
.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.product-card .content {
  padding: 15px;
}

.product-card .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card .price {
  font-size: 16px;
  color: #007b5e;
}
